body *{
  @apply max-w-6xl text-white;
  fill:white;
}
/* scrollbar */
::-webkit-scrollbar {
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-main-1 rounded-xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-main-1;
}
article *{
  color:#333;
}
