<div class=" fixed top-[50%] right-0 bg-red-900 rounded-xl ">
  <ul>
    <li><a class=" rounded-xl hover:bg-blue-900 flex place-items-center justify-items-center h-[10px] px-[15px] py-10 ihome" href="#" id=""><span class=" xl:hidden block">Home</span></a></li>
    <li><a class=" rounded-xl hover:bg-blue-900 flex place-items-center justify-items-center h-[10px] px-[15px] py-10 iabout" href="#" id=""><span class=" xl:hidden block">About</span></a></li>
    <li><a class=" rounded-xl hover:bg-blue-900 flex place-items-center justify-items-center h-[10px] px-[15px] py-10 tlp" href="#" id=""><span class=" xl:hidden block">Contact</span></a></li>
    <li><a class=" rounded-xl hover:bg-blue-900 flex place-items-center justify-items-center h-[10px] px-[15px] py-10 imenu" href="#" id=""><span class=" xl:hidden block">Menu</span></a></li>
  </ul>
</div>
