<div class=" top-0 right-0 bg-teal-500 rounded-xl ">
  <ul class="flex">
    <li class=" rounded-xl hover:bg-blue-900 place-items-center justify-items-center h-[10px] p-[25px] "><a href="#" id=""><span class="ihome"></span>Home</a></li>
    <li class=" rounded-xl hover:bg-blue-900 place-items-center justify-items-center h-[10px] p-[25px] "><a href="#" id=""><span class="iabout"></span>About</a></li>
    <li class=" rounded-xl hover:bg-blue-900 place-items-center justify-items-center h-[10px] p-[25px] "><a href="#" id=""><span class="tlp"></span>Contact</a></li>
    <li class=" rounded-xl hover:bg-blue-900 place-items-center justify-items-center h-[10px] p-[25px] "><a href="#" id=""><span class="imenu"></span>Menu</a></li>
  <button class="bg-teal-900 px-5 rounded-xl text-white">Pesan!</button>
  </ul>
</div>
