<div class=" ml-5 ">
  <h1 class=" mt-5 font-bold text-5xl">Serabi Kocor Bu Yuni</h1>
  <h2 class=" mt-5 font-medium text-xl">Menyajikan kualitas serabi yang enak dan jumbo</h2>
  <!-- image serabi -->
{{ $serabi := resources.Get "/img/serabi.png" }}
{{ $serabi2 := $serabi.Fit "600x400" }}
  <img src="{{ $serabi2.RelPermalink }}" alt=""/>
  <!-- btn top -->
  <div class=" flex mt-5">
    <button class="btn btn-main"><a href="/">Pesan Sekarang</a></button>
    <button class="btn btn-main"><a href="/">Kunjungi toko kami</a></button>
  </div>
</div>
