<!DOCTYPE html>
<html lang="en">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
  {{ partial "main-nav.html" . }}
  {{ partial "second-nav.html" . }}
  <script src="main.js"></script>
  </body>
</html>
