<!DOCTYPE html>
<html lang="en">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="main.css" />
  </head>
  <body class="bg-teal-100 bg-opacity-30">
    <div class="h-[300vh] relative max-w-6xl m-auto bg-teal-100 bg-opacity-50">
  {{ partial "main-nav.html" . }}
    </div>
  <script src="main.js"></script>
  </body>
</html>
